body{
  font-family: Arial;
  background: #eee;
  margin:0;
  padding:0;
  }
  
  
  
  
  .container {
  max-width: 850px;
  margin: 30px auto;
  
  padding:15px;
  background: white;
  border-radius: 8px;
  
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }
  
  
  
  
  h1 {
  color:#222;
  margin-bottom: 12px;
  text-align:center;
  }
  
  
  
  
  input{
  padding:7px;
  border:1px solid #bbb;
  border-radius:5px; width:100%;
  max-width:270px;
  
  margin-bottom:12px
  }
  
  
  
 
  button{
  padding:6px 10px;
  background:#0d6efd;
  color:white;
  
  border:none;
  border-radius:4px;
  cursor:pointer;
  }
  
  button:hover{
  background:#0b5ed7;
  }
  
  
  
  
  .card{
  border:1px solid #ddd;
  padding:10px;
  border-radius:6px;
  margin-top:10px;
  background:white;
  box-shadow:0 1px 4px rgba(0,0,0,0.07)
  }
  
  
  
  
  footer{
  text-align:center;
   margin-top:28px;
  color:#666;
  font-size:13px;
  }
  